<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> {{message}} <br>
        <input type="submit">
        {% endfor %}
    {% else %}
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <input type="submit">
    {% endif %}
    </form>


</body>
</html>